<mat-card class="content" id="one">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card id="content-card" *ngIf="!isLoading">
    <h2><b>LEADERBOARD</b></h2>
    <mat-card-content>
      <mat-card class="name-plate">
        <div class="detail"><b>Rank</b></div>
        <div class="detail"><b>User Name</b></div>
        <div class="detail"><b>Level</b></div>
      </mat-card>
      <mat-card class="name-plate" *ngFor="let user of users; let i = index" [attr.data-index]="i">
        <div class="detail"><b>{{i+1}}</b></div>
        <div class="detail"><b>{{user.userName}}</b></div>
        <!-- <div class="detail"><b>{{user.college}}</b></div> -->
        <div class="detail"><b>{{user.level}}</b></div>
      </mat-card>
    </mat-card-content>
  </mat-card>
</mat-card>
